.container {
  padding: 20px;
}
.container .title {
  font-size: 30px;
}
.container .chart-container {
  width: 100%;
  height: 100%;
}
.container .chart-container .chart-items {
  width: 33%;
  height: 50%;
}
