.mapCmp {
  width: auto;
  height: 100%;
}
.mapCmp .map-container {
  width: 50%;
  height: 100%;
}
.mapCmp .map-container #originMap {
  margin: auto 0;
}
.mapCmp .origin-map {
  border-right: 1px solid rgba(0, 0, 0, 0.06);
}
