.mapCmp {
    width: auto;
    height: 100%;



    .map-container {
        width: 50%;
        height: 100%;

        #originMap {
            margin: auto 0;
        }


    }

    .origin-map {
        border-right: 1px solid rgba(0, 0, 0, 0.06);
    }



}