
.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flex-start-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-around-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-start-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.flex-start-around-col{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.flex-around-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.flex-start-nocenter-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}