@import '~antd/dist/antd.css';
@import 'utils/public.css';
.layout {
  width: 100vw;
  height: 100vh;
}
.view {
  width: 100%;
  height: 100%;
}
.icdm-header .icdm-logo {
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  font-size: 40px;
  color: aliceblue;
}
.icdm-footer {
  border-top: 1px solid #000000;
}
