
.layout {
  width: 100vw;
  height: 100vh;
}
.view {
  width: 100%;
  height: 100%;
}
.icdm-header .icdm-logo {
  width: 150px;
  height: 31px;
  margin: 16px 24px 16px 0;
  font-size: 40px;
  color: aliceblue;
}
.icdm-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
