.container {
  width: 100%;
  height: 100%;
}
.container .option {
  background-color: #fff;
}
.container .option .option-item {
  font-size: 16px;
  width: 80%;
  height: 100px;
}
.container .detail-map {
  width: 100%;
  height: 80%;
}
